
* {
	background-color: #22242B;
	color: #969696;
	font-family: sans-serif;
	font-size: 8pt;
}

body {
	width: 600px;
	margin-left: 12%;
	margin-right: auto;
}

a, strong {
	color: #ffCE00;
}

div#head {
	width: 100%;
}

#head .logo {
   margin-left: 8%;
   width: 524px;
   height: 123px;
}

div#main {
	margin-top: 20px;
	width: 100%;
	text-align: justify;
}

div#main ul {
	list-style-type: square;
}

div#main ul li {
	margin-bottom: 1em;
}

.dl {
	font-style: italic;
	color: #ffCE00;
}

div.version {
	font-size: 85%;
	color: #676767;
}
